:root {
    --text-light: white;
    --text-dark: black;
    --breath-color: #442fca;
}

/* Navbar */

.navbar-brand {
    font-size: 30px;
    font-weight: 600;
}

.navbar-nav {
    font-size: 20px;
}

/* Main */

.main-container{
    color: white;
    background: #040431;
    background: -webkit-linear-gradient(150deg, #040431 0%, #474bff 100%);
    background: linear-gradient(150deg, #040431 0%, #332452 100%);
}

section:not(.overview-section) > .section-title{
    margin-bottom: 140px;
    margin-top: 100px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 40px;
    background: rgba(68, 47, 202, 0.35);
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
}

/* Overview Section */

.overview-section {
    height: 850px;
    background-repeat: no-repeat;
    background-image: url(/assets/imgs/svg/monitor_illustration_2.svg);
    background-position: right top;
    background-size: 40%;
}

.overview-container {
    margin-top: 100px;
    margin-left: 100px;
    position: absolute;
}

.overview-section .section-title {
    height: 160px;
    margin-bottom: 30px;
    width: fit-content;
    border-left: 5px solid white;
    line-height: 0px;
    animation: 1s ease-out 0s 1 slideInLeft;
}

.overview-section .section-title > *{
    margin-left: 30px;
}

.overview-section .section-title h2 {
    font-size: 90px;
    font-weight: 700;
}

.overview-section .section-title p {
    line-height: 20px;
    font-size: 40px;
    margin-bottom: 40px;
}

.overview-section .contact-button {
    width: fit-content;
    height: fit-content;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 65px;
    border: 2px solid white;
    border-radius: 30px;
    margin-left: 30px;
}

.overview-section .contact-button:hover {
    background-color: white;
    color: black;
}

/* About Container */

.about-container {
    margin: 0px;
    width: 90%;
    display: flex;
    justify-content:space-around;
}

.about-card {
    min-width: 600px;
    max-height: 300px;
    padding: 0px;
    border-radius: 30px;
}

.skills-card {
    padding: 0px;
    min-width: 600px;
}

.skills-card h3 {
    text-align: center;
}

.tech {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.tech > * {
    margin: 30px;
    padding: 10px;
    height: 110px;
    width: 110px;
    text-align: center;
    align-items: center;
    background: rgba(113, 108, 108, 0.1);
    border: 4px solid rgba(68, 47, 202, 0.55);
    animation: breath 2s;
    animation-iteration-count: infinite;
    border-radius: 60px;
}

.tech > *:hover {
    border: 4px solid #ddd;
}

.tech > p img {
    width: 45px;
    text-align: center;
}

.tech > .orm, .oop, .mvc {
    padding-top: 40px;
}


/* Projects Section */

.projects-container .card .card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}

.projects-container .card p, h5{
    color: black;
}

.projects-container .card h5{
    font-size: 30px;
    margin-bottom: 0px;
}

.projects-container .card a {
    font-size: 15px;
    margin-right: 15px;
    position: relative;
}

.projects-container .card p{
    margin: 10px;
    margin-bottom: 0px;
}

.projects-container .card .project-tech {
    margin-top: 95px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.projects-container .card span{
    color: black;
    font-size: 10px;
    text-align: center;
}

.projects-container .card span p{
    color: black;
    font-size: 16px;
    text-align: center;
}


.projects-container .card .project-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 5px;
}

.projects-container .card .project-logo img{
    width: 30px;
}


/* Animations */

@keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

@keyframes breath {
    0% {
        -webkit-box-shadow: 0 0 0 1px var(--breath-color);
        -moz-box-shadow: 0 0 0 1px var(--breath-color);
        box-shadow: 0 0 0 1px var(--breath-color);
    }

    25% {
        -webkit-box-shadow: 0 0 0 7px var(--breath-color);
        -moz-box-shadow: 0 0 0 7px var(--breath-color);
        box-shadow: 0 0 0 7px var(--breath-color);
    }

    50% {
        -webkit-box-shadow: 0 0 0 7px var(--breath-color);
        -moz-box-shadow: 0 0 0 7px var(--breath-color);
        box-shadow: 0 0 0 7px var(--breath-color);
    }

    75% {
        -webkit-box-shadow: 0 0 0 7px var(--breath-color);
        -moz-box-shadow: 0 0 0 7px var(--breath-color);
        box-shadow: 0 0 0 7px var(--breath-color);
    }

    100% {
        -webkit-box-shadow: 0 0 0 1px var(--breath-color);
        -moz-box-shadow: 0 0 0 1px var(--breath-color);
        box-shadow: 0 0 0 1px var(--breath-color);
    }
}